<sexport>
	<wii>
		<output path="/home/familia/dev/papillon/workdir/data" />
		<image input="/home/familia/dev/papillon/assets" res_height="768" res_width="1024" />
		<music input="/home/familia/dev/papillon/assets" />
		<sound input="/home/familia/dev/papillon/assets" />
	</wii>
	<iph>
		<output path="/home/familia/dev/papillon/workdir/data" />
		<image input="/home/familia/dev/papillon/assets" res_height="768" res_width="1024" />
		<music input="/home/familia/dev/papillon/assets" />
		<sound input="/home/familia/dev/papillon/assets" />
	</iph>
	<sdl>
		<output path="/home/familia/dev/papillon/workdir/data" />
		<image input="/home/familia/dev/papillon/assets" res_height="768" res_width="1024" />
		<music input="/home/familia/dev/papillon/assets" />
		<sound input="/home/familia/dev/papillon/assets" />
	</sdl>
</sexport>
