<sexport>
	<wii>
		<output path="$(SEEDSDK)/papillon/workdir/data" />
		<image input="$(SEEDSDK)/papillon/assets" res_height="768" res_width="1024" />
		<music input="$(SEEDSDK)/papillon/assets" />
		<sound input="$(SEEDSDK)/papillon/assets" />
	</wii>
	<iph>
		<output path="$(SEEDSDK)/papillon/workdir/data" />
		<image input="$(SEEDSDK)/papillon/assets" res_height="768" res_width="1024" />
		<music input="$(SEEDSDK)/papillon/assets" />
		<sound input="$(SEEDSDK)/papillon/assets" />
	</iph>
	<sdl>
		<output path="$(SEEDSDK)/papillon/workdir/data" />
		<image input="$(SEEDSDK)/papillon/assets" res_height="768" res_width="1024" />
		<music input="$(SEEDSDK)/papillon/assets" />
		<sound input="$(SEEDSDK)/papillon/assets" />
	</sdl>
</sexport>
